@using ApplicationCore.ServiceInterfaces;

@inject ICurrentUserService CurrentUserService;


@if (CurrentUserService.IsAuthenticated)
{
    // FirstName LastName and Email..
    <li class="nav-item">
        <div class="dropdown">
            <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @CurrentUserService.FullName
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Library (MyMoviesCount)</a>
                <a class="dropdown-item" href="#">Log Out</a>
                <a class="dropdown-item" href="#">View Profile</a>
                <a class="dropdown-item" href="#">Edit Profile</a>
            </div>
        </div>
    </li>
}
else
{
}
